@font-face {
    font-family: 'robotomedium';
    src:
         url('fonts/Roboto-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

canvas {
margin-top: -24px;
display: block;
margin-left: -24px;
}
#countdown {
width: 122px;
height: 122px;
border: 16px solid #232c39;
border-radius: 100%;
display: block;
float: right;
margin-top: -10px;
position: relative;
margin-right: 30px;
}
body {
background-color: #151c27
}
#container {
margin: 0 auto;
max-width: 980px;
margin-top: 100px
}

.bannertext {
position: relative;
display: block;
margin-left: 220px;
width: 55%;
color: #cccccc;
position: relative;
font-family: 'robotomedium';
height: 132px;
float: left;
}

.bannertext p.text {
font-size: 17px;
display: table-cell;
vertical-align: middle;
height: 130px;
}
.overbox img {
	margin-left: -5px;
	position: absolute;
	float: left;
	display: block;
}


@media (min-width:1000px) {
	.overbox {
	display: block;
	float: left;
	width: 984px;		
	}	
}
@media (max-width:999px) {
	.overbox {
    position: relative;
	overflow: hidden;
	height: 370px;
	margin-top: -30px;
	padding-top: 30px;
}	
}
@media (max-width:890px) {
		#container {
	margin-top: 30px !important;		
	}
	#countdown {
	margin-top: 20px !important;
	margin-right: 35%
}	
}
@media (max-width:490px) {
	.bannertext {
		width: 45%;
	}
}

@media (max-width:390px) {
	.bannertext {
	width: 87%;
	top: 120px;
	margin-left: 20px;
	text-align: center;
	}
	#countdown {
    margin-top: 110px !important;
    margin-right: 25% !important;
	}
	.overbox {
    position: relative;
    overflow: hidden;
    height: 420px;
    margin-top: 0px !important;
    padding-top: 0px !important;
    background-image: url("img/box_bg.png");
}


